<!-- start custom head snippets -->

<link id="stylesheet" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- start Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4135595052528341"
     crossorigin="anonymous"></script>
<!-- end Google AdSense -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" sizes="180x180" href="assets/images/attajak.png">

<!-- end custom head snippets -->
