run = "bundle exec jekyll serve --baseurl='/' --host='0.0.0.0'"
entrypoint = "README.md"
hidden = [".bundle", ".local", ".config", ".upm"]
modules = ["ruby-3.2"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "_config.yml", "Gemfile", "package.json"]

[[ports]]
localPort = 4000
externalPort = 80
